# Pastas temporárias e arquivos legado
tmp/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Sistema Operacional
.DS_Store
Thumbs.db
Desktop.ini

# IDEs e Editores
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
